# Unity 標準
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Oo]bj/
[Mm]emoryCaptures/
*.csproj
*.sln
*.user
*.pidb

# 作ったビルドは絶対に追跡しない
Build/
Builds/
Dist/
*.exe
*.apk
*.aab
*.zipAssets/DotGothic16-Regular SDF.asset
